@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
body{
  background-color: #e3e7ec;  
}
header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.navcontent li a {
  color: black;
  font-weight: 900;
  font-size: larger; 
  text-decoration: none;
  
}
.navcontent li {
  display: inline-block;
  padding: 10px;
}
.navcontent li{
  transition: text-decoration 0.5s linear;
}
.navcontent li:hover {
  text-decoration: underline;
  text-transform: uppercase;

}
.navcontent {
  list-style: none;
}

.allcuisines{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 300px;
  margin-bottom:20px;
}
.cuisinecard {
  margin-right: 100px;
  width: 200px;
  height: 200px;
  margin-left: 280px;
  border: 2px solid black;
  border-radius: 50%;
  overflow: hidden;

}
.cuisinecard img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.cuisinetext{
  display: contents ;
  font-weight:bolder;
  font-size:20px;
  margin-top: 20px;
  margin-left: 20px;
  background-color: aliceblue;
}
.cuisinetext h3{
  text-align:center;
  padding-top: 20px;
  padding-left: 175px;
}
.cards {
  display: flex;
  flex-direction: row;
}
.card1 {
  max-width: 500px;
  padding-bottom: 10px;
  border: 1px solid black;
  border-radius: 12px;
  margin-left: 90px;
  /* box-shadow: 10px 50px 50px rgba(181, 40, 224, 0.2); */
  transition: transform 0.5s linear;
  overflow: hidden;
}
.card1:hover{
 box-shadow: 0px 10px 30px rgba(154, 150, 155, 1);
}
.card1:hover img{
  /* transform: scale(1.054); */
  opacity: 0.5; 
  cursor: pointer;
  /* transition: transform 0.5s linear; */
  animation: animation 2s ease-in-out;
}

@keyframes animation {
  0% {
    transform: scale(1);
  }
  50%{
    transform: scale(1.054);
  }
  100%{
    transform: scale(1);
  }
  
}
.testbtn{
  position: relative;
  bottom: 230px;
  left: 200px;
  opacity: 0;
  background-color: aliceblue;
  border-radius: 10px;
  border: 1px solid white;
  width: 100px;
  height: 50px;
  
}
.card1:hover .testbtn{
  opacity: 1;
  background-color:bisque;
  cursor: pointer;
}

.card2 {
  width: 500px;
  border: 1px solid white;
  padding-bottom: 10px;
  box-shadow: 10px 10px 50px rgba(255, 255, 255, 0.2);
  margin-left: 100px;
  justify-content: center;
}
.txt1,
.txt2 {
  padding-left: 10px;
}

.food{
    text-align: center;
    padding-bottom: 20px;
}

#img1{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.recip1{
  color: #ffffff;
}

.ftmenu{
  text-align: center;
  padding-bottom: 50px;
}

.ftmenu h2{
  font-weight: 1000;
  font-size: 50px;
 
}
.foot-row{
  padding-top: 50px;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 50px;
}


.foot-col h3{
  padding-bottom: 20px;}
.foot-col ul{
  list-style: none;
}
.foot-col ul li a{
  text-decoration: none;
  color: black;
  font-size: 125%;
}
 .love{
  text-align: center;
 }

 .webban{
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
  margin-left: 50px;
  margin-right: 50px;   
 }

 .textban h2{
  font-family: cursive;
  font-size: 100px;
 }

 .textban{
  padding-top: 100px;

 }

 .textban p{
   font-size: 30px;}



.profile-card{
  height: 84vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4%;
  
}
.card-image{
  display: flex;
  justify-content: center;
  width: 350px;
  height:500px;
  background-color: rgb(246, 244, 242);
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.6);
}
.image{
  
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(163, 24, 213);
  padding: 3px;
}

.image img{
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 50%;
  border: 2px solid white;
  box-sizing: border-box;
}

.gohomebtn{
  background-color: rgb(163, 24, 213);
  border-radius: 10px;
  width: 100px;
  height:50px;
  margin-bottom: 20px;
  margin-left: 10px;
  color: white;
  font-weight:600;
  box-shadow: 0px 5px 20px rgb(170, 96, 205);
}

.gohomebtn:hover{
  cursor: pointer;
}

.media-icons{
  position: absolute;
  padding-top: 50px;

  padding-left: 15px;}

.contactinfo{
  position: absolute;
  margin-top: 230px;

}

.contactinfo p{
  font-size: 18px;
  text-align: center;}

.contactform{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.contactform form{
  width: 30rem;
  height: 45rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.499);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.6);
  background-image: linear-gradient(43deg, #4159d088 0%, #c850c084 46%, #ffcd706a 100%);
}

.contactform form input{
  font-size: 18px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 2px solid white;
  padding: 50px;
  text-align: center;
  width: 70%;
  margin: 5% auto;
  overflow: scroll;
}

.contactform label{
  font-size: 22px;
  color: white;
  margin-left: 5%;
  margin-top: 5%
}
.contactform form button{
  font-size: 18px;
  color: white;
  border: none;
  outline: none;
  background: transparent;
  border: 2px solid white;
  width: 100px;
  height: 75px;
  border-radius: 20px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.6);
  margin-left: 40%;
  margin-bottom: 5%;
}
.contactform button:hover{
  cursor: pointer;
}